interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_security_posture_reference_overridable000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001","name":"cli_test_vmss_security_posture_reference_overridable000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_vmss_security_posture_reference","date":"2024-11-11T15:06:23Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/networkSecurityGroups/testnsg?api-version=2022-01-01
  response:
    body:
      string: '{"name":"testnsg","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/networkSecurityGroups/testnsg","etag":"W/\"feba7e33-fc34-4fc9-bc6d-0a4bc939df4f\"","type":"Microsoft.Network/networkSecurityGroups","location":"eastus2euap","properties":{"provisioningState":"Updating","resourceGuid":"320a9bce-bf31-4d31-8ccd-114677dbc0bb","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetInBound","etag":"W/\"feba7e33-fc34-4fc9-bc6d-0a4bc939df4f\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow
        inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound","sourcePortRanges":[],"destinationPortRanges":[],"sourceAddressPrefixes":[],"destinationAddressPrefixes":[]}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowAzureLoadBalancerInBound","etag":"W/\"feba7e33-fc34-4fc9-bc6d-0a4bc939df4f\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow
        inbound traffic f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/080b57b5-c51f-4815-85b2-3b0bc075233e?api-version=2022-01-01&t=638669343945544916&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDkwOTUzWjBAMT4wPAYD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS85Gen2\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"8_5-gen2\",\n            \"version\": \"latest\",\n
        \           \"architecture\": \"x64\"\n          },\n          \"Debian11\":
        {\n            \"publisher\": \"Debian\",\n            \"offer\": \"debian-11\",\n
        \           \"sku\": \"11-backports-gen2\",\n            \"version\": \"latest\",\n
        \           \"architecture\": \"x64\"\n          },\n          \"OpenSuseLeap154Gen2\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"openSUSE-leap-15-4\",\n
        \           \"sku\": \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"RHELRaw8LVMGen2\": {\n            \"publisher\":
        \"RedHat\",\n            \"offer\": \"RHEL\",\n            \"sku\": \"8-lvm-gen2\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"SuseSles15SP5\": {\n            \"publisher\": \"SUSE\",\n
        \           \"offer\": \"sles-15-sp5\",\n            \"sku\": \"gen2\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Ubuntu2204\": {\n            \"publisher\": \"Canonical\",\n
        \           \"offer\": \"0001-com-ubuntu-server-jammy\",\n            \"sku\":
        \"22_04-lts-gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Ubuntu2404\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"ubuntu-24_04-lts\",\n            \"sku\":
        \"server\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Ubuntu2404Pro\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"ubuntu-24_04-lts\",\n            \"sku\":
        \"ubuntu-pro\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"FlatcarLinuxFreeGen2\": {\n            \"publisher\":
        \"kinvolk\",\n            \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable-gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        },\n        \"Windows\": {\n          \"Win2022Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-g2\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"Win2022AzureEditionCore\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-datacenter-gensecond\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2016Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2016-datacenter-gensecond\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"0f53b56eda413b90fc6365dd4848831171968adfbf5b440c8da07b5866a97d67"
      source-age:
      - '0'
      x-fastly-request-id:
      - 70a37052c3f89c57630c4e7bc2c62e78877ae46f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-g2/versions?$top=1&$orderby=name%20desc&api-version=2024-07-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"EastUS2EUAP\",\r\n    \"name\": \"20348.2762.241006\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/EastUS2EUAP/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-g2/Versions/20348.2762.241006\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-g2/versions/20348.2762.241006?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n
        \   \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n
        \   \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\":
        \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\":
        \"SecurityType\",\r\n        \"value\": \"TrustedLaunchAndConfidentialVmSupported\"\r\n
        \     },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n
        \       \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInGb\":
        127\r\n    },\r\n    \"dataDiskImages\": [],\r\n    \"goLiveDate\": \"2024-10-08T00:00:00+00:00\"\r\n
        \ },\r\n  \"location\": \"EastUS2EUAP\",\r\n  \"name\": \"20348.2762.241006\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/EastUS2EUAP/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-g2/Versions/20348.2762.241006\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "clitestvmss1000002VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "eastus2euap", "apiVersion": "2015-06-15", "dependsOn": [], "tags":
      {}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "clitestvmss1000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "clitestvmss1000002LBPublicIP", "location": "eastus2euap", "tags": {},
      "dependsOn": [], "properties": {"publicIPAllocationMethod": "Static"}, "sku":
      {"name": "Standard"}}, {"type": "Microsoft.Network/loadBalancers", "name": "clitestvmss1000002LB",
      "location": "eastus2euap", "tags": {}, "apiVersion": "2022-01-01", "dependsOn":
      ["Microsoft.Network/virtualNetworks/clitestvmss1000002VNET", "Microsoft.Network/publicIpAddresses/clitestvmss1000002LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "clitestvmss1000002LBBEPool"}],
      "frontendIPConfigurations": [{"name": "loadBalancerFrontEnd", "properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/publicIPAddresses/clitestvmss1000002LBPublicIP"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''clitestvmss1000002LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''clitestvmss1000002LB''),
      ''/backendAddressPools/'', ''clitestvmss1000002LBBEPool'')]"}, "protocol": "tcp",
      "frontendPort": 80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes":
      5}}]}, "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/loadBalancers/inboundNatRules",
      "apiVersion": "2022-01-01", "name": "clitestvmss1000002LB/NatRule", "location":
      "eastus2euap", "properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''clitestvmss1000002LB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "backendAddressPool": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''clitestvmss1000002LB''), ''/backendAddressPools/'', ''clitestvmss1000002LBBEPool'')]"},
      "backendPort": 3389, "frontendPortRangeStart": "50000", "frontendPortRangeEnd":
      "50119", "protocol": "tcp", "idleTimeoutInMinutes": 5}, "dependsOn": ["[concat(''Microsoft.Network/loadBalancers/'',
      ''clitestvmss1000002LB'')]"]}, {"type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "clitestvmss1000002", "location": "eastus2euap", "tags": {}, "apiVersion":
      "2024-07-01", "dependsOn": ["Microsoft.Network/virtualNetworks/clitestvmss1000002VNET",
      "Microsoft.Network/loadBalancers/clitestvmss1000002LB"], "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual"}, "singlePlacementGroup": null, "virtualMachineProfile":
      {"storageProfile": {"osDisk": {"createOption": "FromImage", "caching": "ReadWrite",
      "managedDisk": {"storageAccountType": null}}, "imageReference": {"publisher":
      "MicrosoftWindowsServer", "offer": "WindowsServer", "sku": "2022-datacenter-g2",
      "version": "latest"}}, "osProfile": {"computerNamePrefix": "clite751c", "adminUsername":
      "vmtest", "adminPassword": "[parameters(''adminPassword'')]"}, "securityProfile":
      {"securityType": "TrustedLaunch", "uefiSettings": {"secureBootEnabled": true,
      "vTpmEnabled": true}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "clite751cNic", "properties": {"ipConfigurations": [{"name": "clite751cIPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/virtualNetworks/clitestvmss1000002VNET/subnets/clitestvmss1000002Subnet"},
      "publicipaddressconfiguration": {"name": "instancepublicip", "properties": {"idleTimeoutInMinutes":
      10, "dnsSettings": {"domainNameLabel": "clivmss000003"}}}, "loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/loadBalancers/clitestvmss1000002LB/backendAddressPools/clitestvmss1000002LBBEPool"}]}}],
      "dnsSettings": {"dnsServers": ["10.0.0.6", "10.0.0.5"]}, "networkSecurityGroup":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/networkSecurityGroups/testnsg"},
      "primary": "true"}}]}, "securityPostureReference": {"id": "/CommunityGalleries/SecurityPosturesBVTGallery/securityPostures/VMSSUniformWindows/versions/latest",
      "isOverridable": false}}, "orchestrationMode": "Uniform"}, "sku": {"name": "Standard_DS1_v2",
      "capacity": 2}}], "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''clitestvmss1000002''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {"adminPassword": {"value": "Test123456789#"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Resources/deployments/vmss_deploy_fuAHMP8yVrPMnULlErXpLfgb8nThIaMn","name":"vmss_deploy_fuAHMP8yVrPMnULlErXpLfgb8nThIaMn","type":"Microsoft.Resources/deployments","properties":{"templateHash":"379269273960978395","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-11-11T15:06:48.7144884Z","duration":"PT0.0006269S","correlationId":"841fd83f-8bbd-4dad-852f-5c87291d960a","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2euap"]},{"resourceType":"publicIPAddresses","locations":["eastus2euap"]},{"resourceType":"loadBalancers","locations":["eastus2euap"]},{"resourceType":"loadBalancers/inboundNatRules","locations":["eastus2euap"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["eastus2euap"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/virtualNetworks/clitestvmss1000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"clitestvmss1000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/publicIPAddresses/clitestvmss1000002LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"clitestvmss1000002LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/load[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584702692779451532?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Compute/virtualMachineScaleSets/clitestvmss1000002?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitestvmss1000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Compute/virtualMachineScaleSets/clitestvmss1000002\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
        \"eastus2euap\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n
        \   \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"etag\":
        \"\\\"3\\\"\",\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n
        \   \"orchestrationMode\": \"Uniform\",\r\n    \"upgradePolicy\": {\r\n      \"mode\":
        \"Manual\",\r\n      \"automaticOSUpgradePolicy\": {\r\n        \"enableAutomaticOSUpgrade\":
        false,\r\n        \"useRollingUpgradePolicy\": false,\r\n        \"disableAutomaticRollback\":
        false\r\n      }\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\":
        {\r\n        \"computerNamePrefix\": \"clite751c\",\r\n        \"adminUsername\":
        \"vmtest\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\":
        true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n        \"secrets\":
        [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\":
        true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n
        \         \"osType\": \"Windows\",\r\n          \"createOption\": \"FromImage\",\r\n
        \         \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n
        \           \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\":
        127\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\":
        \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n
        \         \"sku\": \"2022-datacenter-g2\",\r\n          \"version\": \"latest\"\r\n
        \       },\r\n        \"diskControllerType\": \"SCSI\"\r\n      },\r\n      \"networkProfile\":
        {\"networkInterfaceConfigurations\":[{\"name\":\"clite751cNic\",\"properties\":{\"primary\":true,\"disableTcpStateTracking\":false,\"networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/networkSecurityGroups/testnsg\"},\"dnsSettings\":{\"dnsServers\":[\"10.0.0.6\",\"10.0.0.5\"]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"clite751cIPConfig\",\"properties\":{\"publicIPAddressConfiguration\":{\"name\":\"instancepublicip\",\"properties\":{\"idleTimeoutInMinutes\":10,\"ipTags\":[],\"dnsSettings\":{\"domainNameLabel\":\"clivmss000003\"},\"publicIPAddressVersion\":\"IPv4\"}},\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/virtualNetworks/clitestvmss1000002VNET/subnets/clitestvmss1000002Subnet\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_security_posture_reference_overridable000001/providers/Microsoft.Network/loadBalancers/clitestvmss1000002LB/backendAddressPools/clitestvmss1000002LBBEPool\"}]}}]}}]},\r\n
        \     \"diagnosticsProfile\": {\r\n        \"bootDiagnostics\": {\r\n          \"enabled\":
        true\r\n        }\r\n      },\r\n      \"extensionProfile\": {\r\n        \"extensions\":
        [\r\n          {\r\n            \"name\": \"SecurityPostureGuestAttestation\",\r\n
        \           \"properties\": {\r\n              \"autoUpgradeMinorVersion\":
        true,\r\n              \"enableAutomaticUpgrade\": false,\r\n              \"publisher\":
        \"Microsoft.Azure.Security.WindowsAttestation\",\r\n              \"type\":
        \"GuestAttestation\",\r\n              \"typeHandlerVersion\": \"1.0\"\r\n
        \           }\r\n          },\r\n          {\r\n            \"name\": \"SecurityPostureGuestConfiguration\",\r\n
        \           \"properties\": {\r\n              \"autoUpgradeMinorVersion\":
        true,\r\n              \"enableAutomaticUpgrade\": false,\r\n              \"publisher\":
        \"Microsoft.GuestConfiguration\",\r\n              \"type\": \"ConfigurationforWindows\",\r\n
        \             \"typeHandlerVersion\": \"1.0\"\r\n            }\r\n          },\r\n
        \         {\r\n            \"name\": \"SecurityPostureSecurityAgent\",\r\n
        \           \"properties\": {\r\n              \"autoUpgradeMinorVersion\":
        true,\r\n              \"enableAutomaticUpgrade\": false,\r\n              \"publisher\":
        \"Microsoft.Azure.Security.Monitoring\",\r\n              \"type\": \"AzureSecurityWindowsAgent\",\r\n
        \             \"typeHandlerVersion\": \"1.0\"\r\n            }\r\n          }\r\n
        \       ]\r\n      },\r\n      \"securityProfile\": {\r\n        \"uefiSettings\":
        {\r\n          \"secureBootEnabled\": true,\r\n          \"vTpmEnabled\":
        true\r\n        },\r\n        \"encryptionAtHost\": true,\r\n        \"securityType\":
        \"TrustedLaunch\"\r\n      },\r\n      \"securityPostureReference\": {\r\n
        \       \"id\": \"/CommunityGalleries/SecurityPosturesBVTGallery/securityPostures/VMSSUniformWindows/versions/latest\",\r\n
        \       \"excludeExtensions\": [],\r\n        \"isOverridable\": false\r\n
        \     },\r\n      \"timeCreated\": \"2024-11-11T15:07:01.7173496+00:00\"\r\n
        \   },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\":
        true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\":
        \"94938585-8681-4cd1-ab17-fc6dc2175414\",\r\n    \"platformFaultDomainCount\":
        5,\r\n    \"timeCreated\": \"2024-11-11T15:07:01.7173496+00:00\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3"'
      x-ms-need-to-refresh-epl-cache:
      - 'False'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2395,Microsoft.Compute/GetVMScaleSetResource;31
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
version: 1
